body {

    color: aliceblue;
    background-color: #131313;
    font-family: lato, sans-serif;
    margin: 0;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    margin-top: 62px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
}

p {
    font-size: 20px;
}

a {
    text-decoration: none;
    color: inherit;
}

img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

label {
    margin-bottom: 8px;
}

/* research-app */
.fruit-img {
    max-width: 180px;
    border-radius: 12px;
}

/* .flex {
    align-items: center;
    display: flex;
    justify-content: center;
} */

.word-app {
    display: grid;
    /* grid-template-columns: repeat(auto-fill, minmax(220px, 1fr)); */
    gap: 25px;
    justify-items: center;
}

/* header */
.headline {
    display: grid;
    justify-content: center;
    gap: 10px;
}

.headline-before-start {
    /* gap: 10px; */
    padding: 12px;
}

.login-txt {
    margin-bottom: 16px;
}

/* base */
.active {
    color: rgb(10, 11, 11);
    background-color: azure;
    border-radius: 2px;
}

/* about */
.about {
    margin-top: 16px;
    display: grid;
    margin-left: 20px;
    justify-items: center;
    /* justify-content: center;
    align-items: center; */
}

h2 {
    text-align: center;
}

/*  */
/* user-msg */
.user-msg {
    color: white;
    /* padding: 10px; */
    font-size: 1.4em;
    position: fixed;
    top: 0;
    right: 0;
    background-color: grey;
}

.user-msg button {
    float: right;
    border: 0;
    border-radius: 50%;
    margin: 5px;
}

.success {
    background-color: rgb(41, 189, 73);
}

.danger {
    background-color: rgb(216, 59, 59);
}

/* .restart-btn { */
/* padding: 12px; */
/* } */